<div id="container">
    <ul>
        <li> <a href="#">HOME</a></li>
        <li> <a href="#">PRODUCTS</a>
            <ul>
                <li> <a routerLink="/sanpham1">Product 1</a></li>
                <li> <a routerLink="/sanpham2">Product 2</a></li>
                <li> <a routerLink="/sanpham3">Product 3</a></li>
            </ul>
        </li>
        <li> <a href="#">Customers</a>
            <ul>
                <li> <a routerLink="/list-customer">Customer List</a></li>
                <li> <a routerLink="/list-customer-service">Customer List - Service</a></li>
                <li> <a href="#">Customer List - HTTP Service</a></li>
            </ul>
        </li>
        <li> <a href="#">FORMS</a>
            <ul>
                <li> <a>Form</a></li>
                <li> <a>Reactive Form</a></li>
            </ul>
        </li>
        <li> <a href="#">External API</a>
            <ul>
                <li> <a routerLink="/ex26">Exercise 26</a></li>
                <li> <a>Exercise 27</a></li>
                <li> <a>Exercise 28</a></li>
            </ul>
        </li>

        <li> <a href="#">Internal API</a>
            <ul>
                <li> <a routerLink="/ex39">Exercise 39</a></li>
                <li> <a routerLink="/ex41">Exercise 41</a></li>
                <li> <a routerLink="/ex43">Exercise 43</a></li>
                <li> <a routerLink="/ex53">Exercise 53 - Fashion</a></li>
                <li> <a routerLink="/ex55">Exercise 55 - New Fashion</a></li>
                <li> <a routerLink="/ex63">Exercise 63 - Shop</a></li>
                <li> <a routerLink="/ex63-cart">Exercise 63 - 🛒 Cart</a></li>
            </ul>
        </li>

        <li> <a href="#">HTML DOM</a></li>
        <li> <a routerLink="/gioi-thieu">About</a></li>
        <li> <a routerLink="/login">Đăng Nhập</a></li>


    </ul>

</div>

<router-outlet></router-outlet>