<p>about works!</p>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Figure</th>     
        </tr>           
    </thead>
    <tbody>
        <tr>
            <td>SV001</td>
            <td>Nguyễn Thị Cám</td>
            <td>camcam@uel.edu.vn</td>
            <td>
                <img src="../../assets/images/myavatar.jpg" 
                    width="150" 
                    height="150" alt="Chưa có hình"/>
                <img class="myavatar"/>
            </td>
        </tr>
    </tbody>
</table>
